﻿
@model WordSearchPuzzleGame.Common.Models.Board

@{
    ViewData["Tittle"] = "Puzzle Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-info">
    <h3>Disney - Word Search Puzzle Game</h3>
</div>
<div class="row">
    <div class="col-12">
        <div style="border: 1px #00008B solid;">
            <table class="table table-sm table-borderless">
                <tbody>
                    @for (int row = 1; row <= Model.Rows; row++)
                    {
                        <tr>
                            @for (int col = 1; col <= Model.Cols; col++)
                            {
                                <td id="@Model.Slots.FirstOrDefault(s => s.Row == row && s.Col == col).Id"
                                          onclick="CheckLetter(
                                        '@Model.Slots.FirstOrDefault(s => s.Row == row && s.Col == col).Id',
                                        '@Model.Slots.FirstOrDefault(s => s.Row == row && s.Col == col).Letter',
                                        '@Model.Slots.FirstOrDefault(s => s.Row == row && s.Col == col).Row',
                                        '@Model.Slots.FirstOrDefault(s => s.Row == row && s.Col == col).Col')"
                                        style="text-align:center;" >

                                        @Html.DisplayFor(model => model.Slots.FirstOrDefault(s =>
                                                                                                      s.Row == row & s.Col == col).Letter)
                                   
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="row border-bottom">
    <div class="col-12 text-center">
        <h4>Word Search</h4>
    </div>
</div>
<br />
<div class="row">

    @foreach (var word in Model.Words)
    {
    <div class="col-3 ">
        <span id="word_@word.SlotId" class="notfound" onclick="HintWord('@word.Text', @word.SlotId)">@word.Text</span>
    </div>
    }
</div>
<br />
<div id="results" class="row d-none">
    <div class="col-8 ">
        <div class="row">
            <div class="col-12 font-weight-bold">Words found without hint: <span id="totalNoHint"></span></div>
            <div class="col-12 font-weight-bold">Words that required hint: <span id="totalHint"></span></div>
            <div class="col-12 font-weight-bold">Score:<span id="totalScore"></span></div>
        </div>
        </div>
        <div class="col-4 ">
            <button type="button" class="btn btn-info"
                    onclick="PlayAgain()" >Play Again</button>
        </div>
    </div>
